<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>URL Shortener</h2>
    <% if (locals._id) { %> <!-- Check if 'id' exists -->
        <p>URL Generated: http://localhost:3000/api/url/<%= _id %>
        </p>
        <% } %>


            <div>
                <form method="post" action="/api/url">
                    <label for="">Enter Your Original URL</label>
                    <input type="text" name="url" placeholder="https://google.com">
                    <button type="submit">Genrate</button>

                </form>
            </div>
            <% if (locals.urls) { %>
                <table>
                    <thead>
                        <th>S.No</th>
                        <th>ShortId</th>
                        <th>Redirect</th>
                        <th> Click</th>
                    </thead>
                    <tbody>
                        <% urls.forEach((urls,index)=> { %>
                            <tr>
                                <td>
                                    <%= index +1 %>
                                </td>
                                <td>
                                    <%= urls.shortId %>
                                </td>
                                <td>
                                    <%= urls.redirectURL %>
                                </td>
                                <td>
                                    <%= urls.visitHistory.length %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <% } %>
</body>

</html>